[Desktop Entry]
Name=balance
Type=Application
Exec=/home/coquelicoop/balance/balance-linux-x64/balance
Terminal=false
Icon=/home/coquelicoop/balance/balance-linux-x64/balance.png
NoDisplay=false
Categories=Utility;
