[Desktop Entry]
Name=balance
Type=Application
Exec=/home/daniel/git/balance/dist/electron/balance-linux-x64/balance
Terminal=false
Icon=/home/daniel/git/balance/balance.png
NoDisplay=false
Categories=Development;IDE;
Name[fr_FR]=balance
